.friendList {
  margin: 32px auto;
  max-width: 300px;
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
}

.statusOnline {
  composes: status;
  background-color: green;
}

.avatar {
  margin-right: 10px;
}

.name {
  font-weight: bold;
}
